<section class="dashboard-header  ">
  <div class="wrapper row">
  <div class="col">
    <h1>Progress Bar & Labels</h1>
    <p class="subheader">Help the user with visual cues to important content.</p>
  </div>
</div>
</section>
<section class="row wrapper">
  <div class="col">
    <header>
      <h2>Progress Bars</h2>
      <p>Everyone likes to know how they have accomplished!</p>
    </header>
    <p><ngb-progressbar type="success" [value]="25">25</ngb-progressbar></p>
<p><ngb-progressbar type="info" [value]="50">Copying file <b>2 of 4</b>...</ngb-progressbar></p>
<p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>75%</i></ngb-progressbar></p>
<p><ngb-progressbar type="danger" [value]="100" [striped]="true">Completed!</ngb-progressbar></p>
</div>
</section>
<section class="row wrapper">
  <div class="col">
    <header>
      <h2>Labels</h2>
      <p>It is good to group content with general and specific labels!</p>
    </header>
    <span class="label">Chicago</span><span class="label">Journey</span><span class="label">Styx</span><span class="label">Jefferson Airplane</span>
</div>
</section>
