<section class="dashboard-header  ">
  <div class="wrapper row">
  <div class="col">
    <h1>Layout</h1>
    <p class="subheader">Two main layouts and one <code>.scss</code> to configure with your color and spacing variables.</p>
  </div>
</div>
</section>
<section class="row wrapper">
  <div class="col">
    <header>
      <h2>Top Navigation</h2>
      <p>Optional layout that is ideal for most apps. Why? Well frankly the side navigation takes up a lot of real estate and is usually not used very often.</p>
    </header>

  </div>
</section>
    <section class="row wrapper">
      <div class="col">
        <header>
          <h2>Left Navigation</h2>
          <p>It is rare for this much real estate to be optimal for an application.</p>
        </header>

      </div>
    </section>
          <section class="row wrapper">
            <div class="col">
              <header>
                <h2>Color and spacing options</h2>
                <p>For ease of use variables have been used for colors in the <code>_custvariables.scss</code> file.</p>
              </header>

            </div>
          </section>
