<section class="dashboard-header  ">
  <div class="wrapper row">
  <div class="col breadcrumbs">
    <a routerLink="/dashboard/dashboard1" [routerLinkActive]="['router-link-active']" class="return">Agency List</a> > <a routerLink="/dashboard/graphs" [routerLinkActive]="['router-link-active']" class="return">Agency ABC</a> > Agents
  </div>
</div>
</section>
<section class="row wrapper britecore">
  <div class="col">
  <p >
        <ngb-alert  ng-reflect-type="success">
      <div role="alert" ng-reflect-class-name="alert alert-success " class="alert alert-success ">

        Successfully Updated Chewbacca
      </div>
      </ngb-alert>
      </p>
    </div>
  <div class="col-12 grey-background" >
    <div class="row">
      <div class="col-8">
    <h1><span class="subheader"><a routerLink="/dashboard/graphs" [routerLinkActive]="['router-link-active']" class="return">AGENCY ABC</a></span>Agents</h1>
</div>
  <div class="col-4 right-align">
  <a routerLink="/dashboard/agent1" [routerLinkActive]="['router-link-active']">+ Agent</a>
  </div>
  </div>
</div>
  </section>
  <section class="row wrapper britecore">
    <div class="col-6 card">
      <div class="card-block">
      <h2>Chewbacca</h2>
      <h3 class="success"><span class="subheader">Licenses</span><i class="fa fa-check" aria-hidden="true"></i>OH, MI, MN, WI </h3>
      <p><a routerLink="/dashboard/agent3" [routerLinkActive]="['router-link-active']" class="edit">Edit</a></p>
    </div>
    </div>

    <div class="col-6 card">
      <div class="card-block">
      <h2>Lando Carlrissian</h2>
      <h3 class="success"><span class="subheader">Licenses</span><i class="fa fa-check" aria-hidden="true"></i>OH, MI, MN, WI</h3>
      <p><a routerLink="/dashboard/agent3" [routerLinkActive]="['router-link-active']" class="edit">Edit</a></p>
    </div>
    </div>
    <div class="col-6 card">
      <div class="card-block">
      <h2>Nien Numb</h2>
      <h3 class="success"><span class="subheader">Licenses</span><i class="fa fa-check" aria-hidden="true"></i>OH, MI </h3>
      <p><a routerLink="/dashboard/agent3" [routerLinkActive]="['router-link-active']" class="edit">Edit</a></p>
    </div>
    </div>
    <div class="col-6 card">
      <div class="card-block">
      <h2>Wicket Warrick</h2>
      <h3 class="success"><span class="subheader">Licenses</span><i class="fa fa-check" aria-hidden="true"></i>OH, MI </h3>
      <p><a routerLink="/dashboard/agent3" [routerLinkActive]="['router-link-active']" class="edit">Edit</a></p>
    </div>
    </div>
  </section>
