<section class="row wrapper ">
  <div class="col">
    <header>
      <h2>Table</h2>
      <p>The basic model</p>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Delivered</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Bunny</td>
          <td>T-shirt</td>
          <td>3</td>
          <td><i class="fa fa-times danger" aria-hidden="true"></i>
            <td>
        </tr>
        <tr>
          <td>Abraham Lincoln</td>
          <td>Hat</td>
          <td>1</td>
          <td><i class="fa fa-check success" aria-hidden="true"></i>
            <td>
        </tr>
        <tr>
          <td>T. Rex</td>
          <td>Gloves</td>
          <td>3</td>
          <td><i class="fa fa-check success" aria-hidden="true"></i>
            <td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="row wrapper">
  <div class="col">
    <header>
      <h2>Striped Table</h2>
      <p>Easier viewing</p>
    </header>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Delivered</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Bunny</td>
          <td>T-shirt</td>
          <td>3</td>
          <td><i class="fa fa-times danger" aria-hidden="true"></i>
            <td>
        </tr>
        <tr>
          <td>Abraham Lincoln</td>
          <td>Hat</td>
          <td>1</td>
          <td><i class="fa fa-check success" aria-hidden="true"></i>
            <td>
        </tr>
        <tr>
          <td>T. Rex</td>
          <td>Gloves</td>
          <td>3</td>
          <td><i class="fa fa-check success" aria-hidden="true"></i>
            <td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="row wrapper">
  <div class="col">
    <header>
      <h2>Hover Table</h2>
      <p>For when you really need to focus</p>
    </header>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Goal</th>
          <th>Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Bunny</td>
          <td><span class="pie" style="display: none;">0.52,1.041</span><svg class="peity" height="16" width="16"><path class="measurement" d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" class="background" fill="#d7d7d7"></path></svg></td>
          <td class="success-text"> <i class="fa fa-level-up"></i> 22% </td>
        </tr>
        <tr>
          <td>Abraham Lincoln</td>
          <td><span class="pie" style="display: none;">226,134</span><svg class="peity" height="16" width="16"><path class="measurement" d="M 8 8 L 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 Z" fill="#1ab394"></path><path d="M 8 8 L 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 Z" class="background" fill="#d7d7d7"></path></svg></td>
          <td class="danger-text"> <i class="fa fa-level-down "></i> -20% </td>
        </tr>
        <tr>
          <td>T. Rex</td>
          <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path class="measurement" d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" class="background" fill="#d7d7d7"></path></svg></td>
          <td class="success-text"> <i class="fa fa-level-up "></i> 26% </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
