<section class="dashboard-header  ">
  <div class="wrapper row">
  <div class="col-8 bottom-align">
    <h1>Manage Agencies</h1>
  </div>
  <div class="col-4">
      <input class="form-control" [(ngModel)]="filterQuery" placeholder="Start typing to filter"/>
  </div>
</div>
</section>
<section class="row wrapper">
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <a href="">
    <div class="br-card">
      <header>
        <div class="row">
          <div class="col-3">
            <img src="assets/img/abc-logo-circle.png" alt="abc logo auto insurance" />
          </div>
          <div class="col-9">
            <h2>Agency ABC</h2>
            <h3 class="subheader"> IL, MN, MI, OH, WI</h3>
          </div>
        </div>
        </header>
        <div class="row">
          <div class="col-3 right-align">
            <p>5</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">STATE</span>Licenses</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3 right-align">
            <p>8</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">OFFERED</span>Policies</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3 right-align">
          <p>4</p>
          </div>
          <div class="col-9">
            <h4>Agents</h4>
          </div>
        </div>
    </div>
  </a>
  </div>

  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <a href="">
    <div class="br-card">
      <header>
        <div class="row">
          <div class="col-3">
            <img src="assets/img/blank-circle.png" alt="" />
          </div>
          <div class="col-9">
            <h2>Agency DEF</h2>
            <h3 class="subheader"> IL, MN</h3>
          </div>
        </div>
        </header>
        <div class="row">
          <div class="col-3 right-align">
            <p>2</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">STATE</span>Licenses</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3 right-align">
            <p>8</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">OFFERED</span>Policies</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3 right-align">
          <p>1</p>
          </div>
          <div class="col-9">
            <h4>Agents</h4>
          </div>
        </div>
    </div>
  </a>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <a href="">
    <div class="br-card">
      <header>
        <div class="row">
          <div class="col-3">
            <img src="assets/img/blank-circle.png" alt="" />
          </div>
          <div class="col-9">
            <h2>Agency GHI</h2>
            <h3 class="subheader"> IL, MN, MI, OH</h3>
          </div>
        </div>
        </header>
        <div class="row">
          <div class="col-3 right-align">
            <p>4</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">STATE</span>Licenses</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3 right-align">
            <p>9</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">OFFERED</span>Policies</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3 right-align">
          <p>3</p>
          </div>
          <div class="col-9">
            <h4>Agents</h4>
          </div>
        </div>
    </div>
  </a>
  </div>
</section>
