<section class="dashboard-header  ">
  <div class="wrapper row">
  <div class="col breadcrumbs">
    <a routerLink="/dashboard/dashboard1" [routerLinkActive]="['router-link-active']" class="return">< Agency List</a>

  </div>
</div>
<div class="wrapper row">
<div class="col flex-row">
  <img src="assets/img/abclogo.png" alt="abc logo auto insurance" />
  <ul class="tabs-nav">
    <li><a routerLink="/dashboard/graphs" [routerLinkActive]="['router-link-active']"  >Licenses</a></li>
      <li><a routerLink="/dashboard/policy" [routerLinkActive]="['router-link-active']" class="current">Policies</a></li>
    <li><a routerLink="/dashboard/agent" [routerLinkActive]="['router-link-active']" >Agents</a></li>
    <li><a routerLink="/dashboard/grid" [routerLinkActive]="['router-link-active']">Profile</a></li>

  </ul>
</div>
</div>
</section>
<section class="row wrapper">
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <a >
    <div class="br-card add">
      <header>
        <div class="row">

          <div class="col">
            <h2>+Add Policy</h2>
          </div>
        </div>
        </header>

    </div>
  </a>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <a routerLink="/dashboard/graphs" [routerLinkActive]="['router-link-active']">
    <div class="br-card">
      <header>
        <div class="row">

          <div class="col">
            <h2>Homeowners</h2>
            <h3 class="subheader">Policy since 1/1/1950</h3>
          </div>
        </div>
        </header>
        <div class="row">
          <div class="col-3 right-align">
            <p>29</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">AVAILABLE</span>States</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3 right-align">
            <p>15</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">ASSIGNED</span>Agencies</h4>
          </div>
        </div>

    </div>
  </a>
  </div>

</section>
