<section class="dashboard-header  ">

<div class="wrapper row">
<div class="col flex-row">
  <img src="assets/img/abclogo.png" alt="abc logo auto insurance" />
  <ul class="tabs-nav">
    <li><a routerLink="/agdashboard/initial" [routerLinkActive]="['router-link-active']"  >Licenses <div class="circle-alert">1</div></a></li>
    <li><a routerLink="/agdashboard/agentag" [routerLinkActive]="['router-link-active']" >Agents</a><div class="circle-alert">2</div></li>
    <li><a routerLink="/agdashboard/agencyedit" [routerLinkActive]="['router-link-active']" >Profile</a></li>
      <li><a routerLink="/agdashboard/policyag" [routerLinkActive]="['router-link-active']" class="current">Policies</a></li>

  </ul>
</div>
</div>
</section>
<section class="row wrapper">
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <a routerLink="/dashboard/graphs" [routerLinkActive]="['router-link-active']">
    <div class="br-card">
      <header>
        <div class="row">

          <div class="col">
            <h2>Homeowners</h2>
            <h3 class="subheader">Policy since 1/1/1950</h3>
          </div>
        </div>
        </header>
        <div class="row">
          <div class="col-3 right-align">
            <p>5</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">AVAILABLE</span>States</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3 right-align">
            <p>3</p>
          </div>
          <div class="col-9">
            <h4><span class="subheader">ASSIGNED</span>Agents</h4>
          </div>
        </div>

    </div>
  </a>
  </div>

</section>
