<section class="dashboard-header  ">

<div class="wrapper row">
<div class="col flex-row">
  <img src="assets/img/abclogo.png" alt="abc logo auto insurance" />
  <ul class="tabs-nav">
    <li><a routerLink="/agdashboard/initial" [routerLinkActive]="['router-link-active']"  >Licenses <div class="circle-alert">1</div></a></li>
    <li><a routerLink="/agdashboard/agentag" [routerLinkActive]="['router-link-active']" >Agents</a><div class="circle-alert">2</div></li>
    <li><a routerLink="/agdashboard/agencyedit" [routerLinkActive]="['router-link-active']" >Profile</a></li>
      <li><a routerLink="/agdashboard/policyag" [routerLinkActive]="['router-link-active']" class="current">Policies</a></li>

  </ul>
</div>
</div>
</section>
