<section class="dashboard-header  ">
  <div class="wrapper row">
  <div class="col breadcrumbs">
    <a routerLink="/dashboard/dashboard1" [routerLinkActive]="['router-link-active']" class="return">Agency List</a> > <a routerLink="/dashboard/graphs" [routerLinkActive]="['router-link-active']" class="return">Agency ABC</a> > State License
  </div>
</div>
</section>
<section class="row wrapper britecore">

  <div class="col-12 grey-background" >
    <div class="row">
      <div class="col-8">
    <h1><span class="subheader"><a routerLink="/dashboard/graphs" [routerLinkActive]="['router-link-active']" class="return">AGENCY ABC</a></span>State Licenses</h1>
</div>
  <div class="col-4 right-align">
  <a routerLink="/dashboard/license1" [routerLinkActive]="['router-link-active']">+ State license</a>
  </div>
  </div>
</div>
  </section>
  <section class="row wrapper britecore">
    <div class="col-6 card">
      <div class="card-block">
      <h2>Illinois</h2>
      <h3 class="success"><i class="fa fa-check" aria-hidden="true"></i> Agency License</h3>
      <label>Current Policies</label>
      <p>Home Owners<br />Auto Insurance</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Policy</a></p>

      <label>Certified Agents</label>
      <p>Chewbacca</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Agent</a></p>

    </div>
    </div>
    <div class="col-6 card">
      <div class="card-block">
      <h2>Minnesota</h2>
      <h3 class="success"><i class="fa fa-check" aria-hidden="true"></i> Agency License</h3>
      <label>Current Policies</label>
      <p>Home Owners<br />Auto Insurance</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Policy</a></p>

      <label>Certified Agents</label>
      <p>Chewbacca</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Agent</a></p>

    </div>
    </div>
    <div class="col-6 card">
      <div class="card-block">
      <h2>Michigan</h2>
      <h3 class="success"><i class="fa fa-check" aria-hidden="true"></i> Agency License</h3>
      <label>Current Policies</label>
      <p>Home Owners<br />Auto Insurance</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Policy</a></p>

      <label>Certified Agents</label>
      <p>Chewbacca</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Agent</a></p>

    </div>
    </div>
    <div class="col-6 card">
      <div class="card-block">
      <h2>Ohio</h2>
      <h3 class="success"><i class="fa fa-check" aria-hidden="true"></i> Agency License</h3>
      <label>Current Policies</label>
      <p>Home Owners<br />Auto Insurance</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Policy</a></p>

      <label>Certified Agents</label>
      <p>Chewbacca</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Agent</a></p>

    </div>
    </div>
    <div class="col-6 card">
      <div class="card-block">
      <h2>Wisconsin</h2>
      <h3 class="success"><i class="fa fa-check" aria-hidden="true"></i> Agency License</h3>
      <label>Current Policies</label>
      <p>Home Owners<br />Auto Insurance</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Policy</a></p>

      <label>Certified Agents</label>
      <p>Chewbacca</p><p><a routerLink="/dashboard/license3" class="edit" [routerLinkActive]="['router-link-active']">+ Agent</a></p>

    </div>
    </div>
  </section>
