<section class="dashboard-header  ">
  <div class="wrapper row">
  <div class="col">
    <h1>Tables</h1>
    <h2 class="subheader">You have data and it needs to look bearable</h2>
  </div>
</div>
</section>
<!--<section class="row wrapper">
  <div class="col">
    <ul class="tabs">
      <li>
        <div class="triangle-after"[routerLinkActive]="['router-link-active']" >
        <a routerLink="/dashboard/tables/regtables" >
          Table Styles</a>

        </div>
      </li>
      <li>
        <div class="triangle-after"[routerLinkActive]="['router-link-active']" >
          <a routerLink="/dashboard/tables/datatables" >
          Datatables
          </a>

        </div>
      </li>

    </ul>
  </div>

</section>-->
<router-outlet></router-outlet>
