<div class="login-page">
	<div class="row flex-row page-center">
		<div class="center-box ">
					<img src="assets/img/aaislogo.png" class="logo" />
				<h1 class="subtitle">Login</h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<label for="">Full Name</label>
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="John Smith">
					</div>

					<div class="form-group">
						<label for="">Email</label>
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="john@oddesigners.com">
					</div>

					<div class="form-group">
						<label for="">Password</label>
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="">
					</div>
					<div class="form-group">
						<label for="">Repeat Password</label>
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="">
					</div>
				</div>
				<a class="btn" routerLink="/dashboard/dashboard1"> Register </a>
				<p class="secondary-action-link">Already a member? <a class="" routerLink="/"> Log in </a></p>
			</form>
		</div>
	</div>
</div>
