<section class="dashboard-header  ">
  <div class="wrapper row">
  <div class="col breadcrumbs">


  </div>
</div>
</section>
<section class="row wrapper britecore">

  <div class="col-12 grey-background" >

    <h1>AGENCY ABC</h1><p><a routerLink="/agdashboard/agencyedit" [routerLinkActive]="['router-link-active']" class="edit">Edit Agency</a></p>

  <div class="row agency-details">
    <div class="col-4">
    <p>Han Solo</p>
    <p>(800) 708-0123</p>
    <p>4670 I-49 North Service Road Opelousas<br />LA 70570</p>
    </div>
    <div class="col-4">
    <p><a href="mailto:info@abcautoinsurance.com">info@infoabcautoinsurance.com</a><br />
      <a href="https://abcautoinsurance.com/">abcautoinsurance.com</a>
    </p>


    </div>
</div>
  </div>
  <div class="col-6">
    <h2><span class="subheader">STATE</span>Licenses</h2>
    <p>IL, MN, MI, OH, WI</p>

    <p><a routerLink="/dashboard/license" [routerLinkActive]="['router-link-active']" class="edit">+ Licenses</a></p>
  </div>
  <div class="col-6">
    <h2><span class="subheader">CURRENT</span>Agents</h2>
    <p>Chewbacca, Lando Carlrissian, Nien Numb</p>
    <p><a routerLink="/dashboard/agent" [routerLinkActive]="['router-link-active']" class="edit">+ Agent</a></p>
  </div>
</section>

  <section class="row wrapper padding-top">

  </section>
