<section class="dashboard-header  ">

<div class="wrapper row">
<div class="col flex-row">
  <img src="assets/img/abclogo.png" alt="abc logo auto insurance" />
  <ul class="tabs-nav">
    <li><a routerLink="/agdashboard/initial" [routerLinkActive]="['router-link-active']"  >Licenses <div class="circle-alert">1</div></a></li>
    <li><a routerLink="/agdashboard/agentag" [routerLinkActive]="['router-link-active']" class="current">Agents</a><div class="circle-alert">2</div></li>
    <li><a routerLink="/agdashboard/agencyedit" [routerLinkActive]="['router-link-active']" >Profile</a></li>
      <li><a routerLink="/agdashboard/policyag" [routerLinkActive]="['router-link-active']">Policies</a></li>

  </ul>
</div>
</div>
</section>
<section class="row wrapper drilldown">

<div class="col-2">
  <img src="assets/img/chewbacca.png" alt="Chewbacca" />
</div>
<div class="col-10">
  <h2>Chewbacca</h2>
  <h3 class="subheader"> Agent since 2015</h3>
</div>

</section>
