h2.dashboard-section-header {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .35rem;
}
.view-all{
  font-size:.8rem;
}
.number1{
  font-weight:bold;
}
.emphasis{
  font-size:4rem;
  margin-bottom:.5em;
  .subheader{
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing:.4rem;
  }
}
.percent-change{
  margin-bottom:2.5rem;
}
h3.graph-header{
  font-size:1rem;
  text-transform:uppercase;
  letter-spacing:.4rem;
}
.padding-top{
  padding-top:3rem;
}
