.flex-row{
  display:flex;
  .center-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin:10% inherit;
  }
}
.page-center{
  justify-content:center;
  align-items: center;
}
